
.mainpage_mainpage {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(0,145,124,1.00);
}
.mainpage_mainpage .whitelogo1 {
	position: absolute;
	left: 18px;
	top: 25px;
	width: 128px;
	height: 69px;
	object-fit: cover;
	overflow: hidden;
}
.mainpage_mainpage ._50974871 {
	position: absolute;
	left: 56px;
	top: 252px;
	width: 547px;
	height: 772px;
	object-fit: cover;
	overflow: hidden;
}
.mainpage_mainpage ._ {
	position: absolute;
	left: 550px;
	top: 51px;
	width: 84px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-family: Tajawal;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.80000114440918px;
}
.mainpage_mainpage .__1 {
	position: absolute;
	left: 68px;
	top: 252px;
	width: 624px;
	height: 65px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-family: Tajawal;
	font-size: 40px;
	font-weight: 700;
	line-height: 48px;
}
.mainpage_mainpage .__2 {
	position: absolute;
	left: 249px;
	top: 478px;
	width: 251px;
	height: 48px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-family: Tajawal;
	font-size: 40px;
	font-weight: 700;
	line-height: 48px;
}
.mainpage_mainpage .__3 {
	position: absolute;
	left: 118px;
	top: 815px;
	width: 504px;
	height: 48px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-family: Tajawal;
	font-size: 48px;
	font-weight: 700;
	line-height: 57.60000228881836px;
}
.mainpage_mainpage .__4 {
	position: absolute;
	left: 53px;
	top: 321px;
	width: 634px;
	height: 58px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(255,255,255,1.00);
	font-family: Tajawal;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
}
.mainpage_mainpage .__5 {
	position: absolute;
	left: 0px;
	top: 545px;
	width: 687px;
	height: 116px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(255,255,255,1.00);
	font-family: Tajawal;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
}
.mainpage_mainpage .__6 {
	position: absolute;
	left: 412px;
	top: 51px;
	width: 111px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-family: Tajawal;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.80000114440918px;
}
.mainpage_mainpage .__7 {
	position: absolute;
	left: 192px;
	top: 51px;
	width: 193px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-family: Tajawal;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.80000114440918px;
}
.mainpage_mainpage .Rectangle2 {
	position: absolute;
	left: 717px;
	top: 0px;
	width: 720px;
	height: 1024px;
	background: rgba(115,216,144,1.00);
}
.mainpage_mainpage .__8 {
	position: absolute;
	left: 816px;
	top: 123px;
	width: 522px;
	height: 119px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-family: Tajawal;
	font-size: 40px;
	font-weight: 700;
	line-height: 48px;
}
.mainpage_mainpage .Rectangle3 {
	position: absolute;
	left: 826px;
	top: 259px;
	width: 502px;
	height: 695px;
	background: rgba(255,255,255,1.00);
	border-radius: 39px;
}
.mainpage_mainpage .DonthaveanaccountSignupfofree {
	position: absolute;
	left: 941.331787109375px;
	top: 770px;
	width: 273px;
	height: 19px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 10px;
	font-weight: 500;
	line-height: 15px;
}
.mainpage_mainpage .SigninButton {
	position: absolute;
	left: 879.3060302734375px;
	top: 631.731201171875px;
	width: 397.0257873535156px;
	height: 52.240234375px;
	border-radius: 12px;
}
.mainpage_mainpage .SigninButton .Rectangle4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 397.0257873535156px;
	height: 52.240234375px;
	background: rgba(0,145,124,1.00);
	border-radius: 12px;
}
.mainpage_mainpage .SigninButton .Signin {
	position: absolute;
	left: 165.86276245117188px;
	top: 14.366058349609375px;
	width: 65.30029296875px;
	height: 27.426122665405273px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-family: Poppins;
	font-size: 14px;
	font-weight: 500;
	line-height: 21px;
}
.mainpage_mainpage .SigninButton_1 {
	position: absolute;
	left: 244px;
	top: 893px;
	width: 252.98358154296875px;
	height: 52.240234375px;
	border-radius: 12px;
}
.mainpage_mainpage .SigninButton_1 .Rectangle4_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 252.98358154296875px;
	height: 52.240234375px;
	background: rgba(115,216,144,1.00);
	border-radius: 12px;
}
.mainpage_mainpage .SigninButton_1 .__9 {
	position: absolute;
	left: 59.896514892578125px;
	top: 17px;
	width: 133.17413330078125px;
	height: 19px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-family: Tajawal;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.80000114440918px;
}
.mainpage_mainpage .SigninButtonGoogle {
	position: absolute;
	left: 879.3060302734375px;
	top: 698.3375244140625px;
	width: 397.0257873535156px;
	height: 52.240234375px;
}
.mainpage_mainpage .SigninButtonGoogle .Rectangle4_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 397.0257873535156px;
	height: 52.240234375px;
	background: rgba(234,69,76,0.00);
	border-radius: 12px;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.mainpage_mainpage .SigninButtonGoogle .freeicongoogle3002211 {
	position: absolute;
	left: 83.58438110351562px;
	top: 7.836029052734375px;
	width: 36.56816482543945px;
	height: 36.56816482543945px;
	object-fit: cover;
	overflow: hidden;
}
.mainpage_mainpage .SigninButtonGoogle .SigninwithGoogle {
	position: absolute;
	left: 127.98858642578125px;
	top: 11.754043579101562px;
	width: 186.7588348388672px;
	height: 27.426122665405273px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 14px;
	font-weight: 500;
	line-height: 21px;
}
.mainpage_mainpage .EmailForm {
	position: absolute;
	left: 878px;
	top: 364px;
	width: 398.331787109375px;
	height: 87.50239562988281px;
	border-radius: 12px;
}
.mainpage_mainpage .EmailForm .Rectangle3_1 {
	position: absolute;
	left: 1.3060150146484375px;
	top: 35.26216125488281px;
	width: 397.0257873535156px;
	height: 52.240234375px;
	background: rgba(196,196,196,0.00);
	border-radius: 12px;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.mainpage_mainpage .EmailForm .Enteryouremail {
	position: absolute;
	left: 7.836029052734375px;
	top: 49.62821960449219px;
	width: 175.00479125976562px;
	height: 30.038135528564453px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(99,99,100,1.00);
	font-family: Poppins;
	font-size: 14px;
	font-weight: 300;
	line-height: 21px;
}
.mainpage_mainpage .EmailForm .Email {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 53.54623794555664px;
	height: 27.426122665405273px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(24,24,24,1.00);
	font-family: Poppins;
	font-size: 14px;
	font-weight: 500;
	line-height: 21px;
}
.mainpage_mainpage .PasswordForm {
	position: absolute;
	left: 879.3060302734375px;
	top: 478.92852783203125px;
	width: 397.0257873535156px;
	height: 87.50239562988281px;
	border-radius: 12px;
}
.mainpage_mainpage .PasswordForm .Rectangle3_2 {
	position: absolute;
	left: 0px;
	top: 35.26215744018555px;
	width: 397.0257873535156px;
	height: 52.240234375px;
	background: rgba(196,196,196,0.00);
	border-radius: 12px;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.mainpage_mainpage .PasswordForm .__10 {
	position: absolute;
	left: 6.530029296875px;
	top: 49.62822341918945px;
	width: 118.84652709960938px;
	height: 30.038135528564453px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(99,99,100,1.00);
	font-family: Poppins;
	font-size: 14px;
	font-weight: 300;
	line-height: 21px;
}
.mainpage_mainpage .PasswordForm .Password {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 94.03242492675781px;
	height: 27.426122665405273px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(24,24,24,1.00);
	font-family: Poppins;
	font-size: 14px;
	font-weight: 500;
	line-height: 21px;
}
.mainpage_mainpage .RememberForgot {
	position: absolute;
	left: 885.8360595703125px;
	top: 593.8570556640625px;
	width: 390.49578857421875px;
	height: 23.508106231689453px;
	border-radius: 4px;
}
.mainpage_mainpage .RememberForgot .Forgotpassword {
	position: absolute;
	left: 250.753173828125px;
	top: 0px;
	width: 139.7426300048828px;
	height: 23.508106231689453px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(24,24,24,1.00);
	font-family: Poppins;
	font-size: 12px;
	font-weight: 500;
	line-height: 18px;
}
.mainpage_mainpage .RememberForgot .Rememberme {
	position: absolute;
	left: 26.1201171875px;
	top: 0px;
	width: 124.070556640625px;
	height: 23.508106231689453px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(24,24,24,1.00);
	font-family: Poppins;
	font-size: 12px;
	font-weight: 500;
	line-height: 18px;
}
.mainpage_mainpage .RememberForgot .Rectangle4_3 {
	position: absolute;
	left: 0px;
	top: 2.6120147705078125px;
	width: 18.284082412719727px;
	height: 16.978076934814453px;
	background: rgba(196,196,196,0.00);
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.mainpage_mainpage .StarFill {
	position: absolute;
	left: 510px;
	top: 490px;
	width: 23px;
	height: 23px;
}
.mainpage_mainpage .StarFill .Vector {
	position: absolute;
	left: 0.0019378662109375px;
	top: 0.7180309295654297px;
	width: 100.0002736630647%;
	height: 93.75311810037364%;
}
.mainpage_mainpage .StarFill_1 {
	position: absolute;
	left: 216px;
	top: 490px;
	width: 23px;
	height: 23px;
}
.mainpage_mainpage .StarFill_1 .Vector_1 {
	position: absolute;
	left: 0.001922607421875px;
	top: 0.7180309295654297px;
	width: 100.0002736630647%;
	height: 93.75311810037364%;
}
.mainpage_mainpage .cloud {
	position: absolute;
	left: 9px;
	top: 59px;
	width: 320px;
	height: 207px;
	object-fit: cover;
	overflow: hidden;
}
.mainpage_mainpage .cloud_1 {
	position: absolute;
	left: 404px;
	top: 146px;
	width: 186px;
	height: 120px;
	object-fit: cover;
	overflow: hidden;
}