
.settings_settings {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(0,145,124,1.00);
}
.settings_settings .Rectangle230 {
	position: absolute;
	left: 0px;
	top: -4px;
	width: 250px;
	height: 1024px;
	background: rgba(255,255,255,1.00);
}
.settings_settings ._ {
	position: absolute;
	left: 97px;
	top: 327px;
	width: 65px;
	height: 22px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 18px;
	font-weight: 600;
	line-height: 21.784090042114258px;
}
.settings_settings .AwardFill {
	position: absolute;
	left: 41px;
	top: 323px;
	width: 30px;
	height: 30px;
}
.settings_settings .AwardFill .Vector {
	position: absolute;
	left: 4.30126953125px;
	top: 0px;
	width: 71.32500966389973%;
	height: 75%;
}
.settings_settings .AwardFill .Vector_1 {
	position: absolute;
	left: 7.5px;
	top: 22.113754272460938px;
	width: 50%;
	height: 26.287503242492676%;
}
.settings_settings .Group25 {
	position: absolute;
	left: 0px;
	top: 131px;
	width: 221px;
	height: 175px;
}
.settings_settings .Group25 .settingssolid1 {
	position: absolute;
	left: 41px;
	top: 133px;
	width: 25px;
	height: 25px;
}
.settings_settings .Group25 .settingssolid1 .Vector_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100.00019073486328%;
	height: 100%;
}
.settings_settings .Group25 .transfer1 {
	position: absolute;
	left: 44px;
	top: 64px;
	width: 25px;
	height: 25px;
}
.settings_settings .Group25 .transfer1 ._17transfer {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 99.99974822998047%;
	height: 100%;
}
.settings_settings .Group25 .transfer1 ._17transfer .Glyph {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.settings_settings .Group25 .transfer1 ._17transfer .Glyph .Vector_3 {
	position: absolute;
	left: 5.20849609375px;
	top: 22.005218505859375px;
	width: 58.33348274268574%;
	height: 11.979171752929688%;
}
.settings_settings .Group25 .transfer1 ._17transfer .Glyph .Vector_4 {
	position: absolute;
	left: 5.20849609375px;
	top: 0px;
	width: 58.33348274268574%;
	height: 12.5%;
}
.settings_settings .Group25 .transfer1 ._17transfer .Glyph .Vector_5 {
	position: absolute;
	left: 19.79150390625px;
	top: 3.4453125px;
	width: 20.83325862865713%;
	height: 30.893760681152344%;
}
.settings_settings .Group25 .transfer1 ._17transfer .Glyph .Vector_6 {
	position: absolute;
	left: 5.20849609375px;
	top: 4.166656494140625px;
	width: 58.33348274268574%;
	height: 66.66667938232422%;
}
.settings_settings .Group25 .transfer1 ._17transfer .Glyph .Vector_7 {
	position: absolute;
	left: 0px;
	top: 13.83123779296875px;
	width: 20.833256721303695%;
	height: 30.893745422363285%;
}
.settings_settings .Group25 .__1 {
	position: absolute;
	left: 95px;
	top: 66px;
	width: 70px;
	height: 22px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 18px;
	font-weight: 700;
	line-height: 21.784090042114258px;
}
.settings_settings .Group25 .__2 {
	position: absolute;
	left: 95px;
	top: 134px;
	width: 75px;
	height: 22px;
	color: rgba(0,145,124,1.00);
	font-family: Inter;
	font-size: 18px;
	font-weight: 600;
	line-height: 21.784090042114258px;
}
.settings_settings .Group25 .Group24 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 221px;
	height: 175px;
}
.settings_settings .Group25 .Group24 .home2 {
	position: absolute;
	left: 44px;
	top: 0px;
	width: 25px;
	height: 25px;
}
.settings_settings .Group25 .Group24 .home2 .Vector_8 {
	position: absolute;
	left: -0.00048828125px;
	top: 0px;
	width: 99.98979187011719%;
	height: 100%;
}
.settings_settings .Group25 .Group24 .__3 {
	position: absolute;
	left: 95px;
	top: 2px;
	width: 126px;
	height: 22px;
	color: rgba(0,0,0,1.00);
	font-family: Tajawal;
	font-size: 18px;
	font-weight: 700;
	line-height: 21.600000381469727px;
}
.settings_settings .Group25 .Group24 .Rectangle17 {
	position: absolute;
	left: 0px;
	top: 115px;
	width: 6px;
	height: 60px;
	background: rgba(0,145,124,1.00);
}
.settings_settings .Rectangle231 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 114px;
	background: rgba(255,255,255,1.00);
}
.settings_settings .whitelogo2 {
	position: absolute;
	left: 18px;
	top: 25px;
	width: 128px;
	height: 69px;
	object-fit: cover;
	overflow: hidden;
}
.settings_settings .__4 {
	position: absolute;
	left: 781px;
	top: 50px;
	width: 84px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,145,124,1.00);
	font-family: Tajawal;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.80000114440918px;
}
.settings_settings .__5 {
	position: absolute;
	left: 892px;
	top: 53px;
	width: 193px;
	height: 18px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,145,124,1.00);
	font-family: Tajawal;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.80000114440918px;
}
.settings_settings .__6 {
	position: absolute;
	left: 1272px;
	top: 39px;
	width: 84px;
	height: 58px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(0,145,124,1.00);
	font-family: Tajawal;
	font-size: 15px;
	font-weight: 700;
	line-height: 18px;
}
.settings_settings .__7 {
	position: absolute;
	left: 643px;
	top: 50px;
	width: 111px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,145,124,1.00);
	font-family: Tajawal;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.80000114440918px;
}
.settings_settings .__8 {
	position: absolute;
	left: 423px;
	top: 50px;
	width: 193px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,145,124,1.00);
	font-family: Tajawal;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.80000114440918px;
}
.settings_settings .cloud {
	position: absolute;
	left: 257px;
	top: 103px;
	width: 250px;
	height: 162px;
	object-fit: cover;
	overflow: hidden;
}
.settings_settings .cloud_1 {
	position: absolute;
	left: 646px;
	top: 128px;
	width: 250px;
	height: 162px;
	object-fit: cover;
	overflow: hidden;
}
.settings_settings .PersonCircle {
	position: absolute;
	left: 1361px;
	top: 31px;
	width: 50px;
	height: 50px;
	background: rgba(0,145,124,0.00);
}
.settings_settings .PersonCircle .Vector_9 {
	position: absolute;
	left: 15.625px;
	top: 9.375px;
	width: 37.5%;
	height: 37.5%;
}
.settings_settings .PersonCircle .Vector_10 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.settings_settings .SidebarMenu {
	position: absolute;
	left: 249px;
	top: 0px;
	width: 1px;
	height: 1184px;
}
.settings_settings .SidebarMenu .Rectangle55 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1px;
	height: 1184px;
	background: rgba(230,239,245,1.00);
}
.settings_settings .Rectangle174 {
	position: absolute;
	left: 907px;
	top: 333px;
	width: 350px;
	height: 1px;
}
.settings_settings .Group368 {
	position: absolute;
	left: 292px;
	top: 195px;
	width: 1110px;
	height: 717px;
}
.settings_settings .Group368 .Rectangle198 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1110px;
	height: 717px;
	background: rgba(255,255,255,1.00);
	border-radius: 25px;
}
.settings_settings .Group368 .Group206 {
	position: absolute;
	left: 30px;
	top: 122px;
	width: 132px;
	height: 130px;
}
.settings_settings .Group368 .Group206 .MaskGroup {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 130px;
	height: 130px;
}
.settings_settings .Group368 .Group206 .MaskGroup .Ellipse28 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 130px;
	height: 130px;
	background: rgba(196,196,196,1.00);
	border-radius: 50%;
}
.settings_settings .Group368 .Group206 .MaskGroup .image1 {
	position: absolute;
	left: -101.7392578125px;
	top: -110.7825927734375px;
	width: 333.4782409667969px;
	height: 399.12359619140625px;
	object-fit: cover;
	overflow: hidden;
}
.settings_settings .Group368 .Group206 .MaskGroup .pexelschristinamorillo11816901 {
	position: absolute;
	left: -156px;
	top: -3px;
	width: 342px;
	height: 228px;
	object-fit: cover;
	overflow: hidden;
}
.settings_settings .Group368 .Group206 .Group194 {
	position: absolute;
	left: 102px;
	top: 84px;
	width: 30px;
	height: 30px;
}
.settings_settings .Group368 .Group206 .Group194 .Ellipse29 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 30px;
	height: 30px;
	background: rgba(0,145,124,1.00);
	border-radius: 50%;
}
.settings_settings .Group368 .Group206 .Group194 .pencilalt1 {
	position: absolute;
	left: 8px;
	top: 7px;
	width: 15px;
	height: 15px;
}
.settings_settings .Group368 .Group206 .Group194 .pencilalt1 .Vector_11 {
	position: absolute;
	left: 0.0009765625px;
	top: 0.002288818359375px;
	width: 99.99537150065105%;
	height: 99.99603271484375%;
}
.settings_settings .Group368 .Group309 {
	position: absolute;
	left: 30px;
	top: 37px;
	width: 1050px;
	height: 30px;
}
.settings_settings .Group368 .Group309 .EditProfile {
	position: absolute;
	left: 16px;
	top: 0px;
	width: 83px;
	height: 19px;
	color: rgba(0,145,124,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.363636016845703px;
}
.settings_settings .Group368 .Group309 .Rectangle199 {
	position: absolute;
	left: 0px;
	top: 29px;
	width: 1050px;
	height: 1px;
	background: rgba(244,245,247,1.00);
}
.settings_settings .Group368 .Group309 .Rectangle201 {
	position: absolute;
	left: 0px;
	top: 27px;
	width: 114px;
	height: 3px;
	background: rgba(0,145,124,1.00);
}
.settings_settings .Group368 .Group196 {
	position: absolute;
	left: 215px;
	top: 119px;
	width: 418px;
	height: 80px;
	border-radius: 15px;
}
.settings_settings .Group368 .Group196 .YourName {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 83px;
	height: 19px;
	color: rgba(35,35,35,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.363636016845703px;
}
.settings_settings .Group368 .Group196 .Group195 {
	position: absolute;
	left: 0px;
	top: 30px;
	width: 418px;
	height: 50px;
	border-radius: 15px;
}
.settings_settings .Group368 .Group196 .Group195 .Rectangle151 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 418px;
	height: 50px;
	background: rgba(255,255,255,1.00);
	border-radius: 15px;
	border: 1px solid rgba(223.00000190734863,234.00000125169754,242.00000077486038,1);
	box-sizing: border-box;
}
.settings_settings .Group368 .Group196 .Group195 .CharleneReed {
	position: absolute;
	left: 20px;
	top: 16px;
	width: 105px;
	height: 18px;
	color: rgba(113,142,191,1.00);
	font-family: Inter;
	font-size: 15px;
	font-weight: 400;
	line-height: 18.15340805053711px;
}
.settings_settings .Group368 .Group208 {
	position: absolute;
	left: 215px;
	top: 221px;
	width: 418px;
	height: 80px;
	border-radius: 15px;
}
.settings_settings .Group368 .Group208 .Email {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 41px;
	height: 19px;
	color: rgba(35,35,35,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.363636016845703px;
}
.settings_settings .Group368 .Group208 .Group195_1 {
	position: absolute;
	left: 0px;
	top: 30px;
	width: 418px;
	height: 50px;
	border-radius: 15px;
}
.settings_settings .Group368 .Group208 .Group195_1 .Rectangle151_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 418px;
	height: 50px;
	background: rgba(255,255,255,1.00);
	border-radius: 15px;
	border: 1px solid rgba(223.00000190734863,234.00000125169754,242.00000077486038,1);
	box-sizing: border-box;
}
.settings_settings .Group368 .Group208 .Group195_1 .charlenereedgmailcom {
	position: absolute;
	left: 20px;
	top: 16px;
	width: 180px;
	height: 18px;
	color: rgba(113,142,191,1.00);
	font-family: Inter;
	font-size: 15px;
	font-weight: 400;
	line-height: 18.15340805053711px;
}
.settings_settings .Group368 .Group207 {
	position: absolute;
	left: 662px;
	top: 119px;
	width: 418px;
	height: 80px;
	border-radius: 15px;
}
.settings_settings .Group368 .Group207 .UserName {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 85px;
	height: 19px;
	color: rgba(35,35,35,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.363636016845703px;
}
.settings_settings .Group368 .Group207 .Group195_2 {
	position: absolute;
	left: 0px;
	top: 30px;
	width: 418px;
	height: 50px;
	border-radius: 15px;
}
.settings_settings .Group368 .Group207 .Group195_2 .Rectangle151_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 418px;
	height: 50px;
	background: rgba(255,255,255,1.00);
	border-radius: 15px;
	border: 1px solid rgba(223.00000190734863,234.00000125169754,242.00000077486038,1);
	box-sizing: border-box;
}
.settings_settings .Group368 .Group207 .Group195_2 .CharleneReed_1 {
	position: absolute;
	left: 20px;
	top: 16px;
	width: 105px;
	height: 18px;
	color: rgba(113,142,191,1.00);
	font-family: Inter;
	font-size: 15px;
	font-weight: 400;
	line-height: 18.15340805053711px;
}
.settings_settings .Group368 .Group209 {
	position: absolute;
	left: 662px;
	top: 221px;
	width: 418px;
	height: 80px;
	border-radius: 15px;
}
.settings_settings .Group368 .Group209 .Password {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 74px;
	height: 19px;
	color: rgba(35,35,35,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.363636016845703px;
}
.settings_settings .Group368 .Group209 .Group195_3 {
	position: absolute;
	left: 0px;
	top: 30px;
	width: 418px;
	height: 50px;
	border-radius: 15px;
}
.settings_settings .Group368 .Group209 .Group195_3 .Rectangle151_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 418px;
	height: 50px;
	background: rgba(255,255,255,1.00);
	border-radius: 15px;
	border: 1px solid rgba(223.00000190734863,234.00000125169754,242.00000077486038,1);
	box-sizing: border-box;
}
.settings_settings .Group368 .Group209 .Group195_3 .__9 {
	position: absolute;
	left: 20px;
	top: 16px;
	width: 75px;
	height: 18px;
	color: rgba(113,142,191,1.00);
	font-family: Inter;
	font-size: 15px;
	font-weight: 400;
	line-height: 18.15340805053711px;
}
.settings_settings .Group368 .Group210 {
	position: absolute;
	left: 662px;
	top: 323px;
	width: 418px;
	height: 80px;
	border-radius: 15px;
}
.settings_settings .Group368 .Group210 .PresentAddress {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 125px;
	height: 19px;
	color: rgba(35,35,35,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.363636016845703px;
}
.settings_settings .Group368 .Group210 .Group195_4 {
	position: absolute;
	left: 0px;
	top: 30px;
	width: 418px;
	height: 50px;
	border-radius: 15px;
}
.settings_settings .Group368 .Group210 .Group195_4 .Rectangle151_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 418px;
	height: 50px;
	background: rgba(255,255,255,1.00);
	border-radius: 15px;
	border: 1px solid rgba(223.00000190734863,234.00000125169754,242.00000077486038,1);
	box-sizing: border-box;
}
.settings_settings .Group368 .Group210 .Group195_4 .SanJoseCaliforniaUSA {
	position: absolute;
	left: 20px;
	top: 16px;
	width: 180px;
	height: 18px;
	color: rgba(113,142,191,1.00);
	font-family: Inter;
	font-size: 15px;
	font-weight: 400;
	line-height: 18.15340805053711px;
}
.settings_settings .Group368 .Group211 {
	position: absolute;
	left: 662px;
	top: 425px;
	width: 418px;
	height: 80px;
	border-radius: 15px;
}
.settings_settings .Group368 .Group211 .City {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 31px;
	height: 19px;
	color: rgba(35,35,35,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.363636016845703px;
}
.settings_settings .Group368 .Group211 .Group195_5 {
	position: absolute;
	left: 0px;
	top: 30px;
	width: 418px;
	height: 50px;
	border-radius: 15px;
}
.settings_settings .Group368 .Group211 .Group195_5 .Rectangle151_5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 418px;
	height: 50px;
	background: rgba(255,255,255,1.00);
	border-radius: 15px;
	border: 1px solid rgba(223.00000190734863,234.00000125169754,242.00000077486038,1);
	box-sizing: border-box;
}
.settings_settings .Group368 .Group211 .Group195_5 .SanJose {
	position: absolute;
	left: 20px;
	top: 16px;
	width: 65px;
	height: 18px;
	color: rgba(113,142,191,1.00);
	font-family: Inter;
	font-size: 15px;
	font-weight: 400;
	line-height: 18.15340805053711px;
}
.settings_settings .Group368 .Group213 {
	position: absolute;
	left: 662px;
	top: 527px;
	width: 418px;
	height: 80px;
	border-radius: 15px;
}
.settings_settings .Group368 .Group213 .Country {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 61px;
	height: 19px;
	color: rgba(35,35,35,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.363636016845703px;
}
.settings_settings .Group368 .Group213 .Group195_6 {
	position: absolute;
	left: 0px;
	top: 30px;
	width: 418px;
	height: 50px;
	border-radius: 15px;
}
.settings_settings .Group368 .Group213 .Group195_6 .Rectangle151_6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 418px;
	height: 50px;
	background: rgba(255,255,255,1.00);
	border-radius: 15px;
	border: 1px solid rgba(223.00000190734863,234.00000125169754,242.00000077486038,1);
	box-sizing: border-box;
}
.settings_settings .Group368 .Group213 .Group195_6 .USA {
	position: absolute;
	left: 20px;
	top: 16px;
	width: 31px;
	height: 18px;
	color: rgba(113,142,191,1.00);
	font-family: Inter;
	font-size: 15px;
	font-weight: 400;
	line-height: 18.15340805053711px;
}
.settings_settings .Group368 .Group212 {
	position: absolute;
	left: 215px;
	top: 425px;
	width: 418px;
	height: 80px;
	border-radius: 15px;
}
.settings_settings .Group368 .Group212 .PermanentAddress {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 149px;
	height: 19px;
	color: rgba(35,35,35,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.363636016845703px;
}
.settings_settings .Group368 .Group212 .Group195_7 {
	position: absolute;
	left: 0px;
	top: 30px;
	width: 418px;
	height: 50px;
	border-radius: 15px;
}
.settings_settings .Group368 .Group212 .Group195_7 .Rectangle151_7 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 418px;
	height: 50px;
	background: rgba(255,255,255,1.00);
	border-radius: 15px;
	border: 1px solid rgba(223.00000190734863,234.00000125169754,242.00000077486038,1);
	box-sizing: border-box;
}
.settings_settings .Group368 .Group212 .Group195_7 .SanJoseCaliforniaUSA_1 {
	position: absolute;
	left: 20px;
	top: 16px;
	width: 180px;
	height: 18px;
	color: rgba(113,142,191,1.00);
	font-family: Inter;
	font-size: 15px;
	font-weight: 400;
	line-height: 18.15340805053711px;
}
.settings_settings .Group368 .Group214 {
	position: absolute;
	left: 215px;
	top: 527px;
	width: 418px;
	height: 80px;
	border-radius: 15px;
}
.settings_settings .Group368 .Group214 .PostalCode {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 92px;
	height: 19px;
	color: rgba(35,35,35,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.363636016845703px;
}
.settings_settings .Group368 .Group214 .Group195_8 {
	position: absolute;
	left: 0px;
	top: 30px;
	width: 418px;
	height: 50px;
	border-radius: 15px;
}
.settings_settings .Group368 .Group214 .Group195_8 .Rectangle151_8 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 418px;
	height: 50px;
	background: rgba(255,255,255,1.00);
	border-radius: 15px;
	border: 1px solid rgba(223.00000190734863,234.00000125169754,242.00000077486038,1);
	box-sizing: border-box;
}
.settings_settings .Group368 .Group214 .Group195_8 ._45962 {
	position: absolute;
	left: 20px;
	top: 16px;
	width: 47px;
	height: 18px;
	color: rgba(113,142,191,1.00);
	font-family: Inter;
	font-size: 15px;
	font-weight: 400;
	line-height: 18.15340805053711px;
}
.settings_settings .Group368 .Group202 {
	position: absolute;
	left: 215px;
	top: 323px;
	width: 418px;
	height: 80px;
}
.settings_settings .Group368 .Group202 .DateofBirth {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 97px;
	height: 19px;
	color: rgba(35,35,35,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.363636016845703px;
}
.settings_settings .Group368 .Group202 .Rectangle151_9 {
	position: absolute;
	left: 0px;
	top: 30px;
	width: 418px;
	height: 50px;
	background: rgba(255,255,255,1.00);
	border-radius: 15px;
	border: 1px solid rgba(223.00000190734863,234.00000125169754,242.00000077486038,1);
	box-sizing: border-box;
}
.settings_settings .Group368 .Group202 ._25January1990 {
	position: absolute;
	left: 20px;
	top: 46px;
	width: 119px;
	height: 18px;
	color: rgba(113,142,191,1.00);
	font-family: Inter;
	font-size: 15px;
	font-weight: 400;
	line-height: 18.15340805053711px;
}
.settings_settings .Group368 .Group202 .Vector4 {
	position: absolute;
	left: 381px;
	top: 52px;
	width: 12px;
	height: 6px;
}
.settings_settings .Group368 .Group268 {
	position: absolute;
	left: 890px;
	top: 637px;
	width: 190px;
	height: 50px;
	border-radius: 15px;
}
.settings_settings .Group368 .Group268 .Rectangle204 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 190px;
	height: 50px;
	background: rgba(0,145,124,1.00);
	border-radius: 15px;
}
.settings_settings .Group368 .Group268 .Save {
	position: absolute;
	left: 74px;
	top: 14px;
	width: 42px;
	height: 22px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 18px;
	font-weight: 500;
	line-height: 21.784090042114258px;
}