
.transictions_transictions {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(0,145,124,1.00);
}
.transictions_transictions .Rectangle230 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 250px;
	height: 1024px;
	background: rgba(255,255,255,1.00);
}
.transictions_transictions ._ {
	position: absolute;
	left: 97px;
	top: 327px;
	width: 65px;
	height: 22px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 18px;
	font-weight: 600;
	line-height: 21.784090042114258px;
}
.transictions_transictions .AwardFill {
	position: absolute;
	left: 41px;
	top: 323px;
	width: 30px;
	height: 30px;
}
.transictions_transictions .AwardFill .Vector {
	position: absolute;
	left: 4.30126953125px;
	top: 0px;
	width: 71.32500966389973%;
	height: 75%;
}
.transictions_transictions .AwardFill .Vector_1 {
	position: absolute;
	left: 7.5px;
	top: 22.113754272460938px;
	width: 50%;
	height: 26.287503242492676%;
}
.transictions_transictions .Rectangle231 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 114px;
	background: rgba(255,255,255,1.00);
}
.transictions_transictions .whitelogo2 {
	position: absolute;
	left: 18px;
	top: 25px;
	width: 128px;
	height: 69px;
	object-fit: cover;
	overflow: hidden;
}
.transictions_transictions .__1 {
	position: absolute;
	left: 781px;
	top: 50px;
	width: 84px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,145,124,1.00);
	font-family: Tajawal;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.80000114440918px;
}
.transictions_transictions .__2 {
	position: absolute;
	left: 892px;
	top: 53px;
	width: 193px;
	height: 18px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,145,124,1.00);
	font-family: Tajawal;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.80000114440918px;
}
.transictions_transictions .__3 {
	position: absolute;
	left: 1272px;
	top: 39px;
	width: 84px;
	height: 58px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(0,145,124,1.00);
	font-family: Tajawal;
	font-size: 15px;
	font-weight: 700;
	line-height: 18px;
}
.transictions_transictions .__4 {
	position: absolute;
	left: 643px;
	top: 50px;
	width: 111px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,145,124,1.00);
	font-family: Tajawal;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.80000114440918px;
}
.transictions_transictions .__5 {
	position: absolute;
	left: 423px;
	top: 50px;
	width: 193px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,145,124,1.00);
	font-family: Tajawal;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.80000114440918px;
}
.transictions_transictions .PersonCircle {
	position: absolute;
	left: 1361px;
	top: 31px;
	width: 50px;
	height: 50px;
	background: rgba(0,145,124,0.00);
}
.transictions_transictions .PersonCircle .Vector_2 {
	position: absolute;
	left: 15.625px;
	top: 9.375px;
	width: 37.5%;
	height: 37.5%;
}
.transictions_transictions .PersonCircle .Vector_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.transictions_transictions .SidebarMenu {
	position: absolute;
	left: 249px;
	top: 0px;
	width: 1px;
	height: 1184px;
}
.transictions_transictions .SidebarMenu .Rectangle55 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1px;
	height: 1184px;
	background: rgba(230,239,245,1.00);
}
.transictions_transictions .__6 {
	position: absolute;
	left: 288px;
	top: 429px;
	width: 131px;
	height: 29px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 24px;
	font-weight: 600;
	line-height: 29.045454025268555px;
}
.transictions_transictions .AllTransactions {
	position: absolute;
	left: 299px;
	top: 475px;
	width: 123px;
	height: 19px;
	color: rgba(245,247,250,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.363636016845703px;
}
.transictions_transictions .Income {
	position: absolute;
	left: 504px;
	top: 475px;
	width: 57px;
	height: 19px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.363636016845703px;
}
.transictions_transictions .Expense {
	position: absolute;
	left: 643px;
	top: 475px;
	width: 66px;
	height: 19px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.363636016845703px;
}
.transictions_transictions .Rectangle202 {
	position: absolute;
	left: 288px;
	top: 504px;
	width: 1110px;
	height: 1px;
	background: rgba(235,238,242,1.00);
}
.transictions_transictions .Rectangle203 {
	position: absolute;
	left: 288px;
	top: 502px;
	width: 145px;
	height: 3px;
	background: rgba(245,247,250,1.00);
}
.transictions_transictions .Group473 {
	position: absolute;
	left: 288px;
	top: 530px;
	width: 1110px;
	height: 397px;
}
.transictions_transictions .Group473 .Rectangle157 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1110px;
	height: 397px;
	background: rgba(255,255,255,1.00);
	border-radius: 25px;
}
.transictions_transictions .Group473 .Group100 {
	position: absolute;
	left: 30px;
	top: 22px;
	width: 707px;
	height: 19px;
}
.transictions_transictions .Group473 .Group100 .Description {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 88px;
	height: 19px;
	color: rgba(113,142,191,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.363636016845703px;
}
.transictions_transictions .Group473 .Group100 .Date {
	position: absolute;
	left: 477px;
	top: 0px;
	width: 36px;
	height: 19px;
	color: rgba(113,142,191,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.363636016845703px;
}
.transictions_transictions .Group473 .Group100 .TransactionID {
	position: absolute;
	left: 227px;
	top: 0px;
	width: 111px;
	height: 19px;
	color: rgba(113,142,191,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.363636016845703px;
}
.transictions_transictions .Group473 .Group100 .Amount {
	position: absolute;
	left: 646px;
	top: 0px;
	width: 61px;
	height: 19px;
	color: rgba(113,142,191,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.363636016845703px;
}
.transictions_transictions .Group473 .Group73 {
	position: absolute;
	left: 30px;
	top: 69.9999973773167px;
	width: 30.000002622683496px;
	height: 30.000002622683297px;
}
.transictions_transictions .Group473 .Group73 .Ellipse21 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 30.000002622683496px;
	height: 30.000002622683297px;
	border-radius: 50%;
	border: 2px solid rgba(113.00000086426735,142.00000673532486,191.00000381469727,1);
	box-sizing: border-box;
}
.transictions_transictions .Group473 .Group73 .Arrow1 {
	position: absolute;
	left: 14.999998032986241px;
	top: 9.000002622683226px;
	width: 0.0000019670137589855585px;
	height: 10.500000000000071px;
}
.transictions_transictions .Group473 .__7 {
	position: absolute;
	left: 74px;
	top: 76px;
	width: 107px;
	height: 19px;
	color: rgba(255,75,74,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.363636016845703px;
}
.transictions_transictions .Group473 ._12548796 {
	position: absolute;
	left: 259px;
	top: 76px;
	width: 87px;
	height: 19px;
	color: rgba(35,35,35,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.363636016845703px;
}
.transictions_transictions .Group473 ._28Jan1230AM {
	position: absolute;
	left: 472px;
	top: 76px;
	width: 131px;
	height: 19px;
	color: rgba(35,35,35,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.363636016845703px;
}
.transictions_transictions .Group473 ._2500 {
	position: absolute;
	left: 675px;
	top: 76px;
	width: 52px;
	height: 19px;
	color: rgba(254,92,115,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.363636016845703px;
}
.transictions_transictions .Group473 ._12548796_1 {
	position: absolute;
	left: 259px;
	top: 142px;
	width: 87px;
	height: 19px;
	color: rgba(35,35,35,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.363636016845703px;
}
.transictions_transictions .Group473 .Group73_1 {
	position: absolute;
	left: 29.999997377316504px;
	top: 136px;
	width: 30.000002622683496px;
	height: 30.000002622683297px;
}
.transictions_transictions .Group473 .Group73_1 .Ellipse21_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 30.000002622683496px;
	height: 30.000002622683297px;
	border-radius: 50%;
	border: 2px solid rgba(113.00000086426735,142.00000673532486,191.00000381469727,1);
	box-sizing: border-box;
}
.transictions_transictions .Group473 .Group73_1 .Arrow1_1 {
	position: absolute;
	left: 15.000001579533091px;
	top: 8.999999999999858px;
	width: 0.000002551195393607486px;
	height: 10.500000000000142px;
}
.transictions_transictions .Group473 .__8 {
	position: absolute;
	left: 74px;
	top: 142px;
	width: 134px;
	height: 19px;
	color: rgba(1,166,107,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 600;
	line-height: 19.363636016845703px;
}
.transictions_transictions .Group473 ._25Jan1040PM {
	position: absolute;
	left: 472px;
	top: 142px;
	width: 131px;
	height: 19px;
	color: rgba(35,35,35,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.363636016845703px;
}
.transictions_transictions .Group473 ._750 {
	position: absolute;
	left: 681px;
	top: 142px;
	width: 40px;
	height: 19px;
	color: rgba(22,219,170,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.363636016845703px;
}
.transictions_transictions .Group473 ._12548796_2 {
	position: absolute;
	left: 259px;
	top: 208px;
	width: 87px;
	height: 19px;
	color: rgba(35,35,35,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.363636016845703px;
}
.transictions_transictions .Group473 .Group73_2 {
	position: absolute;
	left: 29.999997377316504px;
	top: 202px;
	width: 30.000002622683496px;
	height: 30.000002622683297px;
}
.transictions_transictions .Group473 .Group73_2 .Ellipse21_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 30.000002622683496px;
	height: 30.000002622683297px;
	border-radius: 50%;
	border: 2px solid rgba(113.00000086426735,142.00000673532486,191.00000381469727,1);
	box-sizing: border-box;
}
.transictions_transictions .Group473 .Group73_2 .Arrow1_2 {
	position: absolute;
	left: 15.000001114638508px;
	top: 9px;
	width: 0.0000028849535738117993px;
	height: 10.500000000000199px;
}
.transictions_transictions .Group473 .__9 {
	position: absolute;
	left: 74px;
	top: 208px;
	width: 107px;
	height: 19px;
	color: rgba(255,75,74,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.363636016845703px;
}
.transictions_transictions .Group473 ._20Jan1040PM {
	position: absolute;
	left: 472px;
	top: 208px;
	width: 131px;
	height: 19px;
	color: rgba(35,35,35,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.363636016845703px;
}
.transictions_transictions .Group473 ._150 {
	position: absolute;
	left: 684px;
	top: 208px;
	width: 36px;
	height: 19px;
	color: rgba(254,92,115,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.363636016845703px;
}
.transictions_transictions .Group473 ._12548796_3 {
	position: absolute;
	left: 259px;
	top: 274px;
	width: 87px;
	height: 19px;
	color: rgba(35,35,35,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.363636016845703px;
}
.transictions_transictions .Group473 .Group73_3 {
	position: absolute;
	left: 29.999997377316504px;
	top: 268px;
	width: 30.000002622683496px;
	height: 30.00000262268327px;
}
.transictions_transictions .Group473 .Group73_3 .Ellipse21_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 30.000002622683496px;
	height: 30.00000262268327px;
	border-radius: 50%;
	border: 2px solid rgba(113.00000086426735,142.00000673532486,191.00000381469727,1);
	box-sizing: border-box;
}
.transictions_transictions .Group473 .Group73_3 .Arrow1_3 {
	position: absolute;
	left: 15.000001114638508px;
	top: 9px;
	width: 0.0000028849535738117993px;
	height: 10.50000000000017px;
}
.transictions_transictions .Group473 .__10 {
	position: absolute;
	left: 74px;
	top: 274px;
	width: 107px;
	height: 19px;
	color: rgba(255,75,74,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.363636016845703px;
}
.transictions_transictions .Group473 ._15Jan0329PM {
	position: absolute;
	left: 472px;
	top: 274px;
	width: 131px;
	height: 19px;
	color: rgba(35,35,35,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.363636016845703px;
}
.transictions_transictions .Group473 ._1050 {
	position: absolute;
	left: 679px;
	top: 274px;
	width: 46px;
	height: 19px;
	color: rgba(254,92,115,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.363636016845703px;
}
.transictions_transictions .Group473 ._12548796_4 {
	position: absolute;
	left: 259px;
	top: 340px;
	width: 87px;
	height: 19px;
	color: rgba(35,35,35,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.363636016845703px;
}
.transictions_transictions .Group473 .Group73_4 {
	position: absolute;
	left: 30px;
	top: 334px;
	width: 30px;
	height: 30px;
}
.transictions_transictions .Group473 .Group73_4 .Ellipse21_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 2px solid rgba(113.00000086426735,142.00000673532486,191.00000381469727,1);
	box-sizing: border-box;
}
.transictions_transictions .Group473 .Group73_4 .Arrow1_4 {
	position: absolute;
	left: 14.99999954103032px;
	top: 10.499999999999943px;
	width: 0.0000019670146684802603px;
	height: 10.500000000000057px;
}
.transictions_transictions .Group473 .__11 {
	position: absolute;
	left: 74px;
	top: 340px;
	width: 124px;
	height: 19px;
	color: rgba(1,166,107,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 600;
	line-height: 19.363636016845703px;
}
.transictions_transictions .Group473 ._14Jan1040PM {
	position: absolute;
	left: 472px;
	top: 340.00030517578125px;
	width: 129px;
	height: 19px;
	color: rgba(35,35,35,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.363636016845703px;
}
.transictions_transictions .Group473 ._840 {
	position: absolute;
	left: 681px;
	top: 340.00030517578125px;
	width: 42px;
	height: 19px;
	color: rgba(22,219,170,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.363636016845703px;
}
.transictions_transictions .Group473 .Rectangle224 {
	position: absolute;
	left: 30px;
	top: 52px;
	width: 1050px;
	height: 1px;
	background: rgba(230,239,245,1.00);
}
.transictions_transictions .Group473 .Rectangle161 {
	position: absolute;
	left: 30px;
	top: 118px;
	width: 1050px;
	height: 1px;
	background: rgba(242,244,247,1.00);
}
.transictions_transictions .Group473 .Rectangle225 {
	position: absolute;
	left: 30px;
	top: 184px;
	width: 1050px;
	height: 1px;
	background: rgba(242,244,247,1.00);
}
.transictions_transictions .Group473 .Rectangle226 {
	position: absolute;
	left: 30px;
	top: 250px;
	width: 1050px;
	height: 1px;
	background: rgba(242,244,247,1.00);
}
.transictions_transictions .Group473 .Rectangle227 {
	position: absolute;
	left: 30px;
	top: 316px;
	width: 1050px;
	height: 1px;
	background: rgba(242,244,247,1.00);
}
.transictions_transictions .MyCards {
	position: absolute;
	left: 1061px;
	top: 244px;
	width: 337.19512939453125px;
	height: 79px;
}
.transictions_transictions .MyCards .Rectangle22 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 337.19512939453125px;
	height: 79px;
	background: linear-gradient(90deg, rgba(1, 166, 107, 1.00) 0.0%, rgba(115, 216, 144, 1.00) 100.0%);
	border-radius: 25px;
}
.transictions_transictions .MyCards .__12 {
	position: absolute;
	left: 205.836181640625px;
	top: 29.628021240234375px;
	width: 96.34146118164062px;
	height: 37.57316970825195px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 16px;
	font-weight: 600;
	line-height: 19.363636016845703px;
}
.transictions_transictions .MyCards ._5756 {
	position: absolute;
	left: 93.11669921875px;
	top: 25.39544677734375px;
	width: 105.97561645507812px;
	height: 44.317073822021484px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	color: rgba(255,255,255,1.00);
	font-family: Lato;
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
}
.transictions_transictions .MyCards .Asset11 {
	position: absolute;
	left: 12.5244140625px;
	top: 12.697723388671875px;
	width: 57.80487823486328px;
	height: 52.98780822753906px;
	object-fit: cover;
	overflow: hidden;
}
.transictions_transictions .cloud {
	position: absolute;
	left: 273px;
	top: 121px;
	width: 292px;
	height: 189px;
	object-fit: cover;
	overflow: hidden;
}
.transictions_transictions .cloud_1 {
	position: absolute;
	left: 539px;
	top: 229px;
	width: 207px;
	height: 134px;
	object-fit: cover;
	overflow: hidden;
}
.transictions_transictions .cloud_2 {
	position: absolute;
	left: 682px;
	top: 110px;
	width: 313px;
	height: 202px;
	object-fit: cover;
	overflow: hidden;
}
.transictions_transictions .Group25 {
	position: absolute;
	left: 0px;
	top: 121px;
	width: 221px;
	height: 158px;
}
.transictions_transictions .Group25 .settingssolid1 {
	position: absolute;
	left: 41px;
	top: 133px;
	width: 25px;
	height: 25px;
}
.transictions_transictions .Group25 .settingssolid1 .Vector_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100.00019073486328%;
	height: 100%;
}
.transictions_transictions .Group25 .transfer1 {
	position: absolute;
	left: 44px;
	top: 64px;
	width: 25px;
	height: 25px;
}
.transictions_transictions .Group25 .transfer1 ._17transfer {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 99.99974822998047%;
	height: 100%;
}
.transictions_transictions .Group25 .transfer1 ._17transfer .Glyph {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.transictions_transictions .Group25 .transfer1 ._17transfer .Glyph .Vector_5 {
	position: absolute;
	left: 5.208251953125px;
	top: 22.005218505859375px;
	width: 58.33348274268574%;
	height: 11.979171752929688%;
}
.transictions_transictions .Group25 .transfer1 ._17transfer .Glyph .Vector_6 {
	position: absolute;
	left: 5.208251953125px;
	top: 0px;
	width: 58.33348274268574%;
	height: 12.5%;
}
.transictions_transictions .Group25 .transfer1 ._17transfer .Glyph .Vector_7 {
	position: absolute;
	left: 19.791748046875px;
	top: 3.4453125px;
	width: 20.83325862865713%;
	height: 30.893760681152344%;
}
.transictions_transictions .Group25 .transfer1 ._17transfer .Glyph .Vector_8 {
	position: absolute;
	left: 5.208251953125px;
	top: 4.166656494140625px;
	width: 58.33348274268574%;
	height: 66.66667938232422%;
}
.transictions_transictions .Group25 .transfer1 ._17transfer .Glyph .Vector_9 {
	position: absolute;
	left: 0px;
	top: 13.83123779296875px;
	width: 20.833256721303695%;
	height: 30.893745422363285%;
}
.transictions_transictions .Group25 .__13 {
	position: absolute;
	left: 95px;
	top: 66px;
	width: 70px;
	height: 22px;
	color: rgba(0,145,124,1.00);
	font-family: Inter;
	font-size: 18px;
	font-weight: 600;
	line-height: 21.784090042114258px;
}
.transictions_transictions .Group25 .__14 {
	position: absolute;
	left: 95px;
	top: 134px;
	width: 75px;
	height: 22px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 18px;
	font-weight: 600;
	line-height: 21.784090042114258px;
}
.transictions_transictions .Group25 .Group24 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 221px;
	height: 105px;
}
.transictions_transictions .Group25 .Group24 .home2 {
	position: absolute;
	left: 44px;
	top: 0px;
	width: 25px;
	height: 25px;
}
.transictions_transictions .Group25 .Group24 .home2 .Vector_10 {
	position: absolute;
	left: -0.00048828125px;
	top: 0px;
	width: 99.98979187011719%;
	height: 100%;
}
.transictions_transictions .Group25 .Group24 .__15 {
	position: absolute;
	left: 95px;
	top: 2px;
	width: 126px;
	height: 22px;
	color: rgba(0,0,0,1.00);
	font-family: Tajawal;
	font-size: 18px;
	font-weight: 700;
	line-height: 21.600000381469727px;
}
.transictions_transictions .Group25 .Group24 .Rectangle17 {
	position: absolute;
	left: 0px;
	top: 45px;
	width: 6px;
	height: 60px;
	background: rgba(0,145,124,1.00);
}